# Ignore python virtual enviroment
# Ref: https://github.com/github/gitignore/

.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Custom paths
venv/
.vscode
__pycache__
.ipynb_checkpoints
models/faceDB.json
test_images/lfw_face_dataset
train_history
test_images
visualization